.listlink {
    display: inline-block;
    margin-right: 1rem;
}

.container {
    margin: 3rem auto;
    max-width: 650px;
    padding: 0 1rem;
}

.header {
    margin-bottom: 1.5rem;
    height: 50px;
}

.header-text {
    margin: 0;
    line-height: 50px;
}

.header-logo-link {
    text-shadow: none;
    background-image: none;
    color: black;
}

.header-logo {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 12px;
}

.nav {
    clear: both;
    list-style: none;
    float: right;
}

.main {
    clear: both;
}
